/*
* Hunter Jensen & Ben Crosby
*/

* {
    font-family: "Verdana", serif;
    box-sizing: border-box;
}

body {
    background-color: #82b4bc;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: inline-block;
    width:100%;
}

header {
    margin: 0;
    text-align: center;
    background-color: #82b4bc;
}
header h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4.5em;
    font-weight: lighter;
    padding: 20px 0 0 0;
    color: #62514f;
    margin: auto;
    text-align: center;
}
header img {
    padding: 20px 0 0 20px;
    float: left;

}

article {
    background-color: #dfe6e9;
    margin: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

footer {
    background-color: #82b4bc;
    height: 25%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    margin:0;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font: normal 18px sans-serif;
    /*padding: 45px;*/
}

footer p {
    padding: 0 2em 0 2em;
}

a {
    color: #c34139;
}

h1 {

}

h2 {
    text-align: center;
    padding: .5em 1.5em .5em 1.5em;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
}

h3 a{
    font-size: 2em;
    padding: 25%;
}

h3 {
    text-align: center;
    font-size: smaller;
}

figure {
    text-align: center;
}

figcaption {
    color: #839e99;
    text-align: center;
}

button {
    color: white;
    margin: 30px 25% 30px 25%;
    border: none;
    background-color: #ff5a48;
    width: 50%;
    height: 50px;
    font-size: larger;
    border-radius: 3px;
}

button:hover {
    background-color: #853025;
}

.text-fit {
    padding: 10px 10% 10px 10%;

}

.spacing-vertical {
    margin-top: 20%;
    border-top: #62514f thick;
}

.index h2 {
    color: #fd614e;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-color: dimgrey;
}

.jrSailing h4{
    text-indent: 2em;
}

.jrSailing h5{
    text-indent: 2em;
}

/* ----------------------  Staff page ---------------------- */

.img-staff {
    width: 100%;
}

/* ---------------------- NAV styles ---------------------- */

nav {

    background-color: #82b4bc;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 20px 0;

}
nav ol {

    padding: 0;
    margin: 0;

}

nav ol li{

    padding: 0 2% 0 2%;
    margin: 0;
    display: inline;
    list-style-type: none;

}

nav a {
    color: #f5f0e1;
    text-decoration: none;

}

nav a:hover {
    color: #e15544;
}

li.activePage a {

    color: #bb4939;
}


/* ---------------------- FORM ----------------------*/

form {
    background-color: #dfe6e9;
    padding: 0 5% 0 5%;

}

fieldset {
    text-align: center;
    background-color: #dfe6e9;
    margin: 2.5em 0 2.5em 0;
}

/*removed #form prefix*/
input, textarea {
     box-sizing: border-box;
     border: 2px solid #71c2b9;
     border-radius: 3px;
     padding: 1em;
     outline: none;
     resize: none;
}

label{
    display: inline-block;
    width: auto;
    text-align: center;
}


/*removed #form prefix*/
legend {
    text-align: center;
    font-size: 1.5em;
    padding: 0 1.5em 0 1.5em;
    text-decoration: underline;
    color: black;
}

textarea {
    text-align: left;
    height: 10em;
    width: 50%;
    vertical-align: top;
}

/*removed #form prefix*/
input:focus, textarea:focus{
    border: 2px solid #ce4400;

}

.button:hover {
    background-color: #8f3428;
}

.buttons { /* Field set buttons */
    border: hidden;
}

.button {
    color: white;
    border: none;
    background-color: #ff5a48;
    width: 50%;
    font-size: larger;
    border-radius: 3px;
}

.radio {
    text-align: center;
}

.mistake {
    color: #fff;
    background-color: #cf6864;
    border: thin solid #000;
}

.text-field {
    text-align: right;
    width: 8em;
    color: black;
}

.check-field {
    margin: 0 0 1.25em 7.5em;
    border: none;
    text-align: center;
    color: black;
}

.radio-field {
    text-align: left;
    margin: 0 auto 0 20%;
    width: 20em;
    color: black;
    vertical-align: top;
}

.img-fit {
    margin: 1% 12.5% 0 12.5%;
    width: 75%;
}

#errors ol li{
    color: #ff5555;

}

#errors h3{
    color: #a03838;
    text-decoration: underline;
}

#questions {
    vertical-align: top;
}


/* ---------------------- EVENTS PAGE ---------------------- */

.events-card {
    height: 500px;
    padding: 0 0 0 0;
}

.events-card-img {
    width: 100%;
    height: 200px;
    padding-top: 3%;
    position: relative;
    overflow: hidden;
}

.events-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    overflow: auto;
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
}

.official-event-title {
    color: #fd614e;
}




/* ---------------------- CARD STYLES ---------------------- */

.grey {
    color: lightgray;
}

.column {
    float: left;
    width: calc(33.3% - 5px);
    margin-bottom: 20px;
    padding: 0 4% 0 4%;
}

.row {

}

@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
    article.staff .card {
        overflow: auto;
        height: inherit;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(180,180,180,0.51);
}

.current-event {
    background-color: rgba(130,186,167,0.51);
}

.card-title {
    font-size: 120%;
}

.container {
    overflow: hidden;
    vertical-align: bottom;
    padding: 0 3% 0 3%;
}

.container h2{
    margin-bottom: 0;
    padding-bottom: 0;
}

.container p{
    padding-bottom: .5em;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.staff .sub-title {
    text-align: center;
    color: #fd614e;
}

.sub-title {
    text-align:center;
}

.event-height{
    height: 318px
}

article.staff .card{
    height: 750px;
    overflow: auto;

}


/* ---------------------- GALLERY STYLES ---------------------- */

.gallery {
    box-sizing: border-box;
}

#gallery h3 {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 30px;
}

section.gallery-item {
    background-color: #d3dadd;
    border: 1px solid #ccc;
    margin: 1% 1% 1% 1%;  /* 2% on each side */
}

section.gallery-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: auto;
}

p.description {
    padding: 15px;
    text-align: center;
}

section.responsive {
    padding: 10px 10px 10px 10px;
    float: left;
    width: 22.99999%; /* 24.999999% minus the width of each item */
    /*width: 33.3333333%;*/
}

@media only screen and (max-width: 700px){
    section.responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    section.responsive {
        width: 100%;
    }
}

.normal-padding {
    padding: 0 4% 0 4%;
}


/* ---------------------- FOOTER STYLES ---------------------- */

.footer-styles {

}

.footer-img {
    display: inline;
}

.footer-title{
    color:  #54939d;
    font-size: 24px;
    margin: 0;
}

.footer-links {
    list-style: none;
    font-weight: bold;
    color: #000000;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-links a {
    display:inline-block;
    text-decoration: none;
}

.footer-links a:hover {
    color: #fd614e;
}

.footer-subtitle{
    color: #54939d;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

@media (max-width: 600px) {

    .footer-styles{
        padding: 35px;
    }

    .footer-title{
        font-size: 18px;
    }

    .footer-subtitle{
        font-size: 12px;
    }

    .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-links a {
        line-height: 1.8;
    }
}
