/*
* Hunter Jensen & Ben Crosby
*/

* {
    font-family: "Verdana", serif;
}

body {
    background-color: #582019;

}

header {
    margin: 0;
    text-align: center;
    background-color: #582019;
}
header h1 {
    font-family: 'Papyrus', cursive;
    font-size: 4.5em;
    padding: 20px 0 0 0;
    color: white;
    margin: auto;
    text-align: center;
}
header img {
    padding: 20px 0 0 20px;
    float: left;

}

article {
    background-color: #f2e6b9;
    margin: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

footer {
    background-color: #582019;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

footer p {
    padding: 0 2em 0 2em;
}

a {
    color: #c34139;
}

h1 {

}

h2 {
    text-align: center;
    padding: .5em 1.5em .5em 1.5em;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
}

h3 a{
    font-size: 2em;
    padding: 25%;
}

h3 {
    text-align: center;
    font-size: smaller;
}

button {
    color: white;
    margin: 10px 25% 10px 25%;
    border: none;
    background-color: #ff5a48;
    width: 50%;
    font-size: larger;
    border-radius: 3px;
}

button:hover {
    background-color: #853025;
}


#index {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: inline-block;
    width:100%;
}

.index {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#staff {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: inline-block;
    width:100%;
}

.staff {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#events {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: inline-block;
    width:100%;
}

.events {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#form {
     font-family: 'Raleway', sans-serif;
     margin: 0;
     display: inline-block;
     width:100%;
}

.form {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#gallery {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: inline-block;
    width:100%;
}

.gallery {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#jrsailing {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: inline-block;
    width:100%;
}

.jrSailing {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#dinner-form {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: inline-block;
    width:100%;
}

.dinner-form {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#apply {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    width:100%;
}

.apply {
    margin: 0;
    display: inline-block;
    width: 100%;
}



/* ----------------------  Staff page ---------------------- */

.staff-list {
    width: 100%;
    text-align: center;
    padding: 0 20% 0 20%;
    align-items: center;
    align-content: center;
}

.staff-element {
    float: left;
    background-color: #8b3f00;
    border: solid 2px #ff6545;
    margin: 10px 10px 10px 10px;
    width: 300px;
    height: 300px;

}
h1.staff-element {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;
    opacity: .75;
    margin: 0;

}

.inset-left {
    margin-right: 1.0em;
}

.grey {
    color: lightgray;
}


/* ---------------------- NAV styles ---------------------- */

nav ol {
    text-align: center;
    padding: 0 15% 0 15%;
    background-color: #582019;
}

nav ol li{
    display: inline;
    list-style-type: none;
    font-size: 25px;
    padding: 4%;

}

nav a {
    text-decoration: none;
    color: #9c5b19;
}

nav a:hover {
    color: #c9761e;
}

.activePage {
    text-decoration: underline;
    color: #f2e6b9;
}


/* ---------------------- FORM ----------------------*/

form {
    background-color: #f2e6b9;
    padding: 0 5% 0 5%;
}

fieldset {
    text-align: center;
    background-color: #f2e6b9;
    margin: 2.5em 0 2.5em 0;
}

/*removed #form prefix*/
input, textarea {
     box-sizing: border-box;
     border: 2px solid #71c2b9;
     border-radius: 3px;
     padding: 1em;
     outline: none;
     resize: none;
 }

/*removed #form prefix*/
legend {
    text-align: center;
    font-size: 1.5em;
    padding: 0 1.5em 0 1.5em;
    text-decoration: underline;
    color: black;
}

textarea {
    text-align: left;
    height: 10em;
    width: 50%;
    vertical-align: top;
}

/*removed #form prefix*/
input:focus, textarea:focus{
    border: 2px solid #ce4400;

}

.button:hover {
    background-color: #8f3428;
}

.buttons { /* Field set buttons */
    border: hidden;
}

.button {
    color: white;
    border: none;
    background-color: #ff5a48;
    width: 50%;
    font-size: larger;
    border-radius: 3px;
}

.radio {
    border: none;
    text-align: center;
}

#txtFirstName {
    margin-right: 2em;
}

.mistake {
    color: #fff;
    background-color: #cf6864;
    border: thin solid #000;
}

.text-field {
    text-align: center;
    width: 7em;
    color: black;
}

.check-field {
    margin: 0 0 1.25em 7.5em;
    border: none;
    text-align: center;
    color: black;
}

.radio-field {
    margin: 0 0 0 0;
    text-align: center;
    color: black;
}

#errors ol li{
    color: #ff5555;

}

#errors h3{
    color: #a03838;
    text-decoration: underline;
}

#questions {
    vertical-align: top;
}


/* ---------------------- EVENTS PAGE ---------------------- */

.event-view-content {
    width: 100%;
    text-align: center;
    padding: 0 5% 0 5%;
    align-items: center;
    align-content: center;
}

.events-card {
    border: solid 2px #9a4021;
    margin: 10px 10px 10px 10px;
    background-color: #fff1b0;
    width: 420px;
    height: 500px;
    float: left;
}

.events-card-img {
    width: 100%;
    height: 160px;
    position: relative;
    overflow: hidden;
}

.events-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.events-card-text {
    padding: 15px;

}

.events-card-title {
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #ff5a48;
    overflow: hidden;
}

.events-card-subtitle {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
    color: black;
}

.events-card-tags {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}


